


<app-header></app-header>

<div class="container">
  <div class="item1"><img src="../assets/img/Jeff.jpg" alt="jeff"></div>

  <div class="item2"><img src="../assets/img/Marissa.jpg" alt="merissa"></div>

  <div class="item3"><img src="../assets/img/Mark.jpg" alt="Mark"></div>

  <div class="item4"><img src="../assets/img/satya.jpg" alt="satya"></div>

  <div class="item5"><img src="../assets/img/sundhar.jpg" alt="sundhar"></div>
  
  <div class="item6"><img src="../assets/img/Tim.jpg" alt="Tim"></div>
</div>

<app-footer></app-footer>