.container{
    margin:auto;
    width:90%;
    display:grid;
    grid-template-columns: 25% 25% 50%;
    grid-column-gap: 2px;
    justify-content: center;
}

.container img{
    width: 100%;
    margin: auto;
}

.item3{
    grid-row-start:1;
    grid-row-end:3;
    

}

.item3{
 height:332px;
}
.item3 img{
    height:390px;
}

.item4,.item5{
grid-column-start:1;
grid-column-end:3;
}

.item4{
    height:155px;
}
.item4 img{
    height:153px;
}
.item3,.item6{
grid-column-start:3;
grid-column-end:5;
}

.item5,.item6{
    height:300px;
}

.item5 img,.item6 img{
    height:297px;
}